@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Business: @ViewBag.Business</p>
<p>Type: @ViewBag.Type</p>
<p>Founded: @ViewBag.Founded</p>
<p>Website: @ViewBag.Website</p>